.container
  margin-top: 80px
  padding 80px 20px 40px 20px;
  background-image: url('../assets/images/d-luck-introl-bg.jpg');
  background-position:top;
  background-size: cover;
  text-align: center
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  color: white;
  h1
    font-family: Montserrat
    color: black
    font-size: 50px
  p
    font-family: Kanit
    color: rgb(80, 80, 80)
    display: block
    margin: 0 auto
    max-width: 800px
    line-height: 1.6
    letter-spacing: 1px
    text-align: left
    font-size 18px
    font-weight 200
    margin-top: 50px
