.container
  padding 120px 20px 40px 20px;
  background-image: url('../assets/images/d-luck-introl-bg.jpg');
  background-position:top;
  background-size: cover;
  text-align: center
  min-height: 100vh
  box-sizing: border-box;
  color: white;
  h1
    font-family: Montserrat
    color: black
    font-size: 40px
  p
    font-family: Kanit
    color: rgb(80, 80, 80)
    display: block
    margin: 0 auto
    max-width: 800px
    line-height: 2
    letter-spacing: 1px
    text-align: left
    font-size 14px
    font-weight 200
