.col
  display: inline-block;
  vertical-align: top;
  padding-top: 30px
.container
  max-width: 1000px
  text-align: center;
  margin: 0 auto
  h1
    font-size: 50px
  img.map
    max-width: 1000px
    width: 100%
    margin: 0 auto
    display: block;
.mapLocationContainer
  text-align: left
  h2
    margin-bottom: 0
    margin-top: 0
.icon
  display: inline-block;
  width: 10px
  margin-right: 5px
  vertical-align: top
.transportInformationContainer
  text-align: left
  h2
    font-size: 40px
    margin-bottom: 0
    font-weight: 600
  h4
    margin: 0 0 5px 0
    font-weight: 400;
    font-size: 16px
  img
    width: 50px
    vertical-align: top
    margin-right: 15px
  ul
    padding: 0
    margin: 10px 0
  li
    margin-left: 20px
    padding: 0
