.footerBar
  color: #a8a8a8
  font-family: Montserrat;
  font-size: 12px
  background: #f0f0f0
  padding: 15px 5%
.container
  clear both
.siteMapContact
  color: black
  padding: 30px 5%
  font-family: Montserrat
  ul
    padding: 0 10px 0 0
    li
      list-style-type: none;
      font-size: 12px;
      opacity: 0.6
      cursor: pointer;
      padding: 2px 0
      color: black
      &:first-child
        margin-bottom: 10px
        opacity: 1
        font-size: 18px
    li:hover
      opacity: 1
      a
        list-style-type: none;
        text-decoration: none
        color: inherit;
  .fax
    margin: 5px 0
    opacity: 1
    font-size: 18px
  .socialText
    opacity: 1
    font-size: 18px
    margin-top: 10px
  .siteMapBlock
    width: 33.33%
    display: inline-block;
    vertical-align: top
    margin-bottom: 20px
  .siteMap
    width: 50%
    display: inline-block;
    vertical-align: top
  .contact
    width: 50%
    display: inline-block;
    vertical-align: top
    .sendEmail
      background: white
      color: black
      display: table;
      padding: 7px 10px
      margin-top: 5px
      font-family: Montserrat
      cursor: pointer;
      font-size: 8px
      background-color: #e2e2e2
    .contactFrom
      margin-top: 32px
      input
        display: inline-block;
        width 200px
        padding: 5px
        border: 0
        margin 5px 5px 5px 0
        background-color: #e2e2e2
        &::placeholder
          font-family: Montserrat
          font-size: 12px
      textarea
        background-color: #e2e2e2
        display: block
        resize: none
        padding: 5px
        width: 415px
        height: 70px
        border: 0
        &::placeholder
          font-family: Montserrat
          font-size: 12px
.social
  margin-top: 25px
  opacity: 1!important
  img
    height: 20px
    margin-right: 20px
@media screen and (max-width:768px)
  .siteMapContact
    .siteMap
      width: 100%
    .contact
      width: 100%
      .contactFrom
        input
          width: 100%
        textarea
          width: 100%

@media screen and (max-width:450px)
  .siteMapContact
    .siteMap
      display: none
    .siteMapBlock
      width: 100%
