.container
  vertical-align middle
  position relative
  display inline-block
  margin-left 10px
.searchInput
  background-color transparent
  border 1px solid grey
  border-top none
  border-left none
  border-right none
  color grey
  transition 0.3s
  box-sizing border-box
.suggestionBox
  position absolute
  right 0
  color white
  margin-top 5px
  width 250px
  box-shadow : -2px 11px 30px -11px rgba(50,50,50,1) ;
  .option
    padding 10px 5px
    background-color white
    color grey
    border-bottom 1px solid rgb(209, 209, 209)
  .option:hover
    background-color rgb(240, 240, 240)
